<?xml version="1.0" encoding="utf-8"?>
<configdata>
    <routing>
        <routes>
            <systemapi>
                <type>Zend_Controller_Router_Route</type>
                <route>:module/:controller/:action/*</route>
                <defaults>
                    <module>systemapi</module>
                    <controller>index</controller>
                    <action>index</action>
                </defaults>
            </systemapi>
        </routes>
    </routing>
</configdata>