body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style3 {font-size: 11px; color: #6197ca; font-family: Tahoma; }
.style6 {font-size: 15px; font-family: "Century Gothic";}
.style7 {color: #336699}
.style8 {color: #FF9900}
.style9 {	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #9cb1c3;
}
.style11 {	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 12px;
	font-weight: bold;
}
.style14 {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #827f7b; }
.style15 {	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9900;
}
.style18 {font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style19 {color: #827f7b}
.style20 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #827f7b; }
.style22 {font-size: 11px; font-family: Tahoma; color: #FFFFFF; }
.style25 {font-family: "Digital Readout ExpUpright";
	font-size: 18px;
	color: #FFFFFF;
}
.style27 {font-size: 11px}
.style30 {font-size: No11ne; font-family: Tahoma; color: #FFFFFF; }

.style32 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF9900; }
.style33 {color: #2b5275;
	font-size: 11px;
	font-family: Tahoma;
}
.style34 {	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #a8c7e4;
}
.style37 {color: #FFFFFF; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.style39 {color: #FFFFFF; font-size: 14px; font-family: Arial;}

.style40 {	font-family: Arial;
	font-size: 13px;
}
.style45 {font-family: Arial; font-size: 12px; color: #00A9EC; }
.style46 {	font-size: 11px;
	font-family: Arial;
	color: #00A8E9;
}
.style47 {font-size: 11px; font-family: Arial; color: #FFFFFF; }
.style49 {	color: #FF9900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style50 {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}
.style51 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6c6b66;
}
.style53 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}
.style54 {font-size: 11px; font-family: Arial; color: #827f7b; }
.style55 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
.style56 {
	color: #80BFE8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style57 {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; }
.style58 {font-size: 11px; font-family: Tahoma; color: #666666; }
.style59 {font-size: 10px; font-family: Tahoma; color: #FFFFFF; }
.style61 {font-family: Tahoma; font-size: 10px; color: #6c6b66; }
.style62 {font-size: 11px; font-family: Arial; color: #FFFFFF; font-weight: bold; }
.style67 {font-family: Tahoma; font-size: 10px; color: #666666; }