RewriteEngine on
RewriteRule (image)\.(php)$ image.php [L]
RewriteRule (send_sms)\.(php)$ send_sms.php [L]
# accept all file type
# RewriteRule ^.*$ - [NC,L] 
RewriteRule !\.(htm|swf|js|ico|gif|jpg|png|css|xls|xlsx)$ index.php [L]


php_value magic_quotes_gpc off
