<?xml version="1.0"?>
<configdata>
    <production>
        <webhost>www.icesolution.com</webhost>
        <database>
            <type>mysqli</type>
            <host>localhost</host>
            <username>root</username>
            <password>root</password>
            <name>dev_ice_workflow_test</name>
        </database>
        <ControllerDirectories>
            <systemapi>
                <name>systemapi</name>
                <path>systemapi/controllers</path>
            </systemapi>
            <default>
                <name>default</name>
                <path>default/controllers</path>
            </default>
            <authen>
                <name>authen</name>
                <path>authen/controllers</path>
            </authen>
            <helper>
                <name>helper</name>
                <path>helper/controllers</path>
            </helper>
            <workflow>
                <name>workflow</name>
                <path>workflow/controllers</path>
            </workflow>
            <master>
                <name>master</name>
                <path>master/controllers</path>
            </master>                 
            <account>
                <name>account</name>
                <path>account/controllers</path>
            </account>
        </ControllerDirectories>
        <logPath>log</logPath>
        <language>en</language>
        <useCache>Y</useCache>
    </production>
    <staging extends="production">
        <!--database>
            <host>192.168.10.99</host>
            <port>3310</port>
            <username>puk</username>
            <password>puk</password>
        </database-->
        <database>
            <host>localhost</host>
            <port>3306</port>
            <username>root</username>
            <password>root</password>
        </database>
    </staging>
</configdata>